.table-grid-row {
  display: grid;
  grid-column-gap: 5px;
  grid-template-columns: auto auto auto auto auto;
  background-color: black;
  padding: 3px 5px;
}

.table-grid-item {
  display: flex;
  align-items: center;
  background-color: lightskyblue;
  /* padding: 15px 0; */
  width: 92px;
  height: 92px;
  justify-content: center;
}

.table-container {
  width: 495px;
  /* height: 600px; */
}

.table-cell {
  margin: auto;
}
